---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Inicio">

	<div class="max-w-2xl mx-auto my-auto p-8 rounded-lg shadow-lg bg-gray-800 border border-gray-700">
		<div class="space-y-6">
			<div class="text-center">
				<h1 class="text-3xl font-bold bg-gradient-to-r from-blue-400 to-purple-500 bg-clip-text text-transparent">
					Fernando Alberto Herrera Jimenez
				</h1>
				<p class="mt-3 text-gray-300 text-lg">
					Desarrollador web con experiencia en el desarrollo de aplicaciones web y móviles.
				</p>
			</div>

			<div class="flex flex-col items-center space-y-2 text-gray-400">
				<div class="flex align-start items-center gap-2">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
					</svg>
					<p>
						Momento actual: {new Date().toLocaleTimeString()}
					</p>
				</div>
				<div class="flex align-start items-center gap-2">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd" />
					</svg>
					<p id="momento-real">
						Momento actual real:
					</p>
				</div>
			</div>

			<footer class="text-center text-sm text-gray-500 pt-4 border-t border-gray-700">
				Year: 2023
			</footer>
		</div>
	</div>

	<script>
		const currentYear: number = new Date().getFullYear();

		const footer = document.querySelector('footer') as HTMLElement;
		footer.textContent = `Year: ${currentYear}`;

		setInterval(() => {
			const momentoReal = document.querySelector('#momento-real') as HTMLElement;
			momentoReal.textContent = `Momento actual real: ${new Date().toLocaleTimeString()}`;
		}, 1000);
	</script>
</Layout>
